SERVER_PORT=3000
CORS=*
JWT_TOKEN_EXPIRED=1d
JWT_SECRET=rw944klczIrfO5ABcoytTD15uDzT4EkZ12312sdfsdfSDGFSD
DANS_MULTIPRO_HOST=http://dev3.dansmultipro.co.id
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/asses_dans_multipro?schema=public"